<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <div id="jokeCard">

        <h2>type:
            <%= randomJoke.type %>
        </h2>
        <h2>setup:
            <%= randomJoke.setup %>
        </h2>
        <h2>punchline:
            <%=randomJoke.punchline %>
        </h2>

    </div>

</body>

</html>